/* color_primitives: value (default) */

:root {
  --mon-color-primary: #3178d4;
  --mon-color-secondary: #48c7e6;

  --mon-color-brand-100: #f5f5f5;
  --mon-color-brand-200: #e6e6e6;
  --mon-color-brand-300: #d9d9d9;
  --mon-color-brand-400: #b3b3b3;
  --mon-color-brand-500: #757575;
  --mon-color-brand-600: #444444;
  --mon-color-brand-700: #383838;
  --mon-color-brand-800: #2c2c2c;
  --mon-color-brand-900: #1e1e1e;
  --mon-color-brand-1000: #111111;

  --mon-color-white-100: #ffffff0d;
  --mon-color-white-200: #ffffff1a;
  --mon-color-white-300: #ffffff33;
  --mon-color-white-400: #ffffff66;
  --mon-color-white-500: #ffffffb3;
  --mon-color-white-600: #ffffffcc;
  --mon-color-white-700: #ffffffd9;
  --mon-color-white-800: #ffffffe6;
  --mon-color-white-900: #fffffff2;
  --mon-color-white-1000: #ffffffff;

  --mon-color-black-100: #0c0c0d0d;
  --mon-color-black-200: #0c0c0d1a;
  --mon-color-black-300: #0c0c0d33;
  --mon-color-black-400: #0c0c0d66;
  --mon-color-black-500: #0c0c0db3;
  --mon-color-black-600: #0c0c0dcc;
  --mon-color-black-700: #0c0c0dd9;
  --mon-color-black-800: #0c0c0de6;
  --mon-color-black-900: #0c0c0df2;
  --mon-color-black-1000: #0c0c0dff;

 --mon-color-slate-100: #f3f3f3;
  --mon-color-slate-200: #e3e3e3;
  --mon-color-slate-300: #cdcdcd;
  --mon-color-slate-400: #b2b2b2;
  --mon-color-slate-500: #949494;
  --mon-color-slate-600: #767676;
  --mon-color-slate-700: #5a5a5a;
  --mon-color-slate-800: #434343;
  --mon-color-slate-900: #303030;
  --mon-color-slate-1000: #242424;

  --mon-color-gray-100: #f5f5f5;
  --mon-color-gray-200: #e6e6e6;
  --mon-color-gray-300: #d9d9d9;
  --mon-color-gray-400: #b3b3b3;
  --mon-color-gray-500: #757575;
  --mon-color-gray-600: #444444;
  --mon-color-gray-700: #383838;
  --mon-color-gray-800: #2c2c2c;
  --mon-color-gray-900: #1e1e1e;
  --mon-color-gray-1000: #111111;

  --mon-color-red-100: #fee9e7;
  --mon-color-red-200: #fdd3d0;
  --mon-color-red-300: #fcb3ad;
  --mon-color-red-400: #f4776a;
  --mon-color-red-500: #ec221f;
  --mon-color-red-600: #c00f0c;
  --mon-color-red-700: #900b09;
  --mon-color-red-800: #690807;
  --mon-color-red-900: #4d0b0a;
  --mon-color-red-1000: #300603;

  --mon-color-yellow-100: #fffbeb;
  --mon-color-yellow-200: #fff1c2;
  --mon-color-yellow-300: #ffe8a3;
  --mon-color-yellow-400: #e8b931;
  --mon-color-yellow-500: #e5a000;
  --mon-color-yellow-600: #bf6a02;
  --mon-color-yellow-700: #975102;
  --mon-color-yellow-800: #682d03;
  --mon-color-yellow-900: #522504;
  --mon-color-yellow-1000: #401b01;

  --mon-color-green-100: #ebffee;
  --mon-color-green-200: #cff7d3;
  --mon-color-green-300: #aff4c6;
  --mon-color-green-400: #85e0a3;
  --mon-color-green-500: #14ae5c;
  --mon-color-green-600: #009951;
  --mon-color-green-700: #008043;
  --mon-color-green-800: #02542d;
  --mon-color-green-900: #024023;
  --mon-color-green-1000: #062d1b;

  --mon-color-blue-100: #f1f6fd;
  --mon-color-blue-200: #e1ebfa;
  --mon-color-blue-300: #c0d4f5;
  --mon-color-blue-400: #9ebef1;
  --mon-color-blue-500: #3f81ea;
  --mon-color-blue-600: #3271d7;
  --mon-color-blue-700: #2a61ba;
  --mon-color-blue-800: #224a8a;
  --mon-color-blue-900: #183057;
  --mon-color-blue-1000: #15253f;

  --mon-color-pink-100: #fcf1fd;
  --mon-color-pink-200: #fae1fa;
  --mon-color-pink-300: #f5c0ef;
  --mon-color-pink-400: #f19edc;
  --mon-color-pink-500: #ea3fb8;
  --mon-color-pink-600: #d732a8;
  --mon-color-pink-700: #ba2a92;
  --mon-color-pink-800: #8a226f;
  --mon-color-pink-900: #57184a;
  --mon-color-pink-1000: #3f1536;

  --mon-space-100: 0.25rem;
  --mon-space-200: 0.5rem;

  /* size: default (default) */
  --mon-size-blur-100: 0.25rem;
  --mon-size-depth-0: 0rem;
  --mon-size-depth-025: 0.0625rem;
  --mon-size-depth-100: 0.25rem;
  --mon-size-depth-1200: 3rem;
  --mon-size-depth-200: 0.5rem;
  --mon-size-depth-400: 1rem;
  --mon-size-depth-800: 2rem;
  --mon-size-depth-negative-025: -0.0625rem;
  --mon-size-depth-negative-100: -0.25rem;
  --mon-size-depth-negative-1200: -3rem;
  --mon-size-depth-negative-200: -0.5rem;
  --mon-size-depth-negative-400: -1rem;
  --mon-size-depth-negative-800: -2rem;
  --mon-size-icon-large: 2.5rem;
  --mon-size-icon-medium: 2rem;
  --mon-size-icon-small: 1.5rem;
  --mon-size-radius-100: 0.25rem;
  --mon-size-radius-200: 0.5rem;
  --mon-size-radius-400: 1rem;
  --mon-size-radius-full: 624.9375rem;
  --mon-size-space-0: 0rem;
  --mon-size-space-050: 0.125rem;
  --mon-size-space-100: 0.25rem;
  --mon-size-space-1200: 3rem;
  --mon-size-space-150: 0.375rem;
  --mon-size-space-1600: 4rem;
  --mon-size-space-200: 0.5rem;
  --mon-size-space-2400: 6rem;
  --mon-size-space-300: 0.75rem;
  --mon-size-space-400: 1rem;
  --mon-size-space-4000: 10rem;
  --mon-size-space-600: 1.5rem;
  --mon-size-space-800: 2rem;
  --mon-size-space-negative-100: -0.25rem;
  --mon-size-space-negative-200: -0.5rem;
  --mon-size-space-negative-300: -0.75rem;
  --mon-size-space-negative-400: -1rem;
  --mon-size-space-negative-600: -1.5rem;
  --mon-size-stroke-border: 0.0625rem;
  --mon-size-stroke-focus-ring: 0.125rem;
}